:root {
  --text: #50514f;
  --color1: #fdfff7;
  --color2: #59ffa0;
  --color3: #b4adea;
  --color4: #ffed65;
}

body {
  width: 90%;
  margin: auto;
  background-color: var(--color3);
  background: linear-gradient(90deg, #edd9d9, #7070db);
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  word-spacing: 5px;
  color: var(--text);
  font-size: medium;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  background-color: blue;
  color: white;
}

a:hover {
  background-color: red;
  color: white;
  transition: background-color 1s;
}

a:visited {
  background-color: purple;
  color: white;
}

blockquote {
  width: 50%;
  margin: auto;
  font-size: 160%;
  text-align: center;
}

blockquote p {
  background-color: #e2e2e2;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-left: 3px solid firebrick;
  font-style: italic;
}

.farmer {
  background-color: transparent;
  font-family: Georgia, "Times New Roman", Times, serif;
  word-spacing: 5px;
  font-size: medium;
  border-left: 3px solid orange;
  color: var(--text);
  padding-left: 5px;
}

.villager {
  background-color: transparent;
  font-family: Georgia, "Times New Roman", Times, serif;
  word-spacing: 5px;
  font-size: medium;
  border-left: 3px solid blue;
  color: var(--text);
  padding-left: 5px;
}

header figure {
  background-color: var(--color4);
}

.good {
  text-transform: capitalize;
  color: green;
  background-color: transparent;
}

.bad {
  text-transform: capitalize;
  color: red;
  background-color: transparent;
}

table {
  font-family: Georgia, "Times New Roman", Times, serif;
  word-spacing: 5px;
  font-size: medium;
  color: var(--text);
}

tbody > tr > :nth-child(2) {
  background-color: var(--color2);
}

tbody > tr > :nth-child(1) {
  background-color: var(--color4);
}
